server:
  port: 20102

spring:
  application:
    name: inventory-service

  datasource:
    url: jdbc:postgresql://localhost:20011/commerce?currentSchema=inventory
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update
